<p>{{ record.name }}</p>
<a href="/records/{{ record._id }}/edit">edit</a>
<a href="/">back</a>
<form action="/records/{{ record._id }}/delete" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>