<form action="/records/{{ record._id }}/edit" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ record.name }}">
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>