<h2>Hello world! 這是 index</h2>
<a href="./records/new">Create</a>
<ul>
  {{#each records}}
  <li>
    {{this.name}}
    <a href="./records/{{ this._id }}">detail</a>
    <a href="./records/{{ this._id }}/edit">edit</a>
    <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>